.paragrafoAzul {
    color: blue;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

p {
    color: red;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

#titulo {
    color: green;
    font-size: 25px;
    font-family: 'Courier New', monospace;
}